/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

/* Style page layout */
body {
  width: 550px; /* your desired width */
  height: 600px;
  position: relative;
  vertical-align:middle;
  background-color: #57d3e4 !important;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: center;
  
  
}


h4 {
	text-align: center;
	font-size: 30px;
	font-style: bold;
}


p1 {
	font-size: 15px;
}

progress {
	
	font-size: .6em;
	line-height: 1.5em;
	text-indent: .5em;
	width: 15em;
	height: 1.8em;
	border: 1px solid #0063a6;
	background: #fff;
	
}


progress::-webkit-progress-bar {
	background: #fff;
}



progress::-webkit-progress-value{
	background: green;
}



/* Code for compatibility with Firefox browser to ensure colours display correctly */
progress::-moz-progress-bar {
	background:#008000;
}

#sub {
  font-weight: normal;
  font-size: 4mm;
  text-align: center;
  font-weight: bold;
}



/* Style the submit button 
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}*/

/* Style the container for inputs */
.container {
  padding: 20px;
}

#titles{
font-weight: bold;
}
.container label{
  font-size: 4mm;
}

/* The message box is shown when the user clicks on the password field */
#message {
  color: #000;
  position: relative;
  padding: 10px 20px 20px 20px;
  margin-top: 10px;
  width: relative;
  position: relative;
  font-weight: bold;
 
/*User can now view all checklist items without having to scroll */
 white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}


#message p {
  font-size: 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #089403;
}

.valid:before {
  position: relative;
  left: -6.75px;
  content: "✔️";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: #ffffff;
  text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .5px .5px 0 #000;
}

.invalid:before {
  position: relative;
  left: -6.75px;
  content: "❌";
}

.breached {
 opacity: 100;
 color: red;
}

.notbreached {
	visibility: hidden;
	opacity: 0.0;
}


/* chrome extions logo */
.navbar-brand img{
  height: 32px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

